@charset "utf-8";

html {
    font-size: 10px;
    font-family: 'Charter';
}

body {
    width: 100%;
    height: 100vh;
    background: #FFF8E0;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

svg {
    width: 30px;
    height: 30px;
}

li {
    list-style: none;
}

#main-header {
    padding: 20px 50px;
    background-color: #FFF3C9;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20;
}

#main-header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-header .header-content .project-title-area {
    display: flex;
    justify-content: left;
    align-items: center;
}

#main-header .header-content .project-title-area img {
    width: 80px;
    height: 80px;
    margin-right: 60px;
    margin-left: 20px;
}

#main-header .header-content .project-title-area .title-area .project-title {
    display: block;
    font-size: 3rem;
    font-weight: inherit;
    line-height: 1.2;
}

#main-header .header-content .account-area {
    display: flex;
    justify-content: right;
    align-items: center;
}

#main-header .header-content .account-area svg {
    cursor: pointer;
}

#main-header .header-content .account-area .account {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-header .header-content .account-area .account .account-name {
    font-size: 1.5rem;
    margin-left: 40px;
    margin-right: 10px;
    cursor: pointer;
}

#main-header .header-content .account-area .account svg {
    width: 15px;
    height: 15px;
}

#nav {
    position: sticky;
    top: 120px;
    left: 0;
    width: 210px;
    height: calc(100vh - 120px);
    background-color: #FFF3C9;
    padding: 60px 30px;
}

#nav .nav-content .nav-item {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 30px;
}

#nav .nav-content .nav-item a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#nav .nav-content .nav-item .nav-item-text {
    font-size: 1.5rem;
    margin-left: 10px;
}

#main {
    position: relative;
    top: 120px;
    display: flex;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 500px;
    margin-bottom: 100px;
}

.search label {
    margin-right: 30px;
}

.search select {
    border-bottom: 1px solid #000;
    padding: 5px 10px;
    margin-right: 30px;
    cursor: pointer;
}

.search button {
    transition: all .5s;
}

.search button:hover {
    color: #9E912B;
}

@media screen and (max-width:1200px) {

    #main-header {
        padding: 1.667vw 4.1667vw;
    }

    #main-header .header-content .project-title-area img {
        margin-right: 5vw;
        margin-left: 1.667vw;
    }

    #main-header .header-content .account-area .account .account-name {
        margin-left: 3.333vw;
        margin-right: 0.833vw;
    }

    #main-header .header-content .account-area .account svg {
        width: 1.25vw;
        height: 1.25vw;
    }

    #nav {
        top: 10vw;
        width: 17.5vw;
        height: calc(100vh - 10vw);
        padding: 5vw 2.5vw;
    }

    #nav .nav-content .nav-item {
        margin-bottom: 2.5vw;
    }

    #nav .nav-content .nav-item .nav-item-text {
        margin-left: 0.833vw;
        font-size: 1.2vw;
    }

    #main {
        top: 10vw;
    }

    .search {
        width: 41.667vw;
        margin-bottom: 8.333vw;
    }

    .search label {
        margin-right: 2.5vw;
    }

    .search select {
        padding: 0.4167vw 0.8333vw;
        margin-right: 2.5vw;
    }

}

@media screen and (max-width:993px) {
    #main {
        top: 120px;
    }

    #nav {
        position: fixed;
        left: 0;
        top: calc(100% - 10vw);
        width: 100%;
        height: 10vw;
        padding: 0;
        z-index: 30;
    }

    #nav .nav-content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -20%);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #nav .nav-content .nav-item {
        margin-bottom: 2.5vw;
    }

    #nav .nav-content .nav-item .nav-item-text {
        margin-left: 0;
        font-size: 2rem;
    }

    #main {
        padding-bottom: 10vw;
    }
}

@media screen and (max-width:690px) {
    .search {
        width: 100%;
        font-size: 2.8986vw;
        margin-bottom: 9.493vw;
    }

    .search label {
        margin-right: 4.3478vw;
    }

    .search select {
        padding: 1.0204vw 1.4493vw;
        margin-right: 4.3478vw;
    }

}

@media screen and (max-width:650px) {
    svg {
        width: 4.6154vw;
        height: 4.6154vw;
    }

    #main-header .header-content .project-title-area img{
        width: 12.3077vw;
        height: 12.3077vw;
    }

    #main-header .header-content .project-title-area .title-area .project-title{
        font-size: 4.6154vw;
    }

    #main-header .header-content .account-area .account .account-name{
        font-size: 2.3077vw;
    }

    #nav .nav-content .nav-item .nav-item-text{
        font-size: 3.0769vw;
    }

}

@media screen and (max-width:430px) {
    #main {
        top: 60px;
    }
}