@charset "UTF-8";

#product-add{
    width: 100%;
    height: 100%;
    padding: 50px 80px;
}

.product-main-title{
    font-size: 3rem;
    line-height: 1;
    border-left: 5px solid #FFC600;
    padding-left: 10px;
    margin-bottom: 100px;
}

.product-add-form .file-area{
    position: relative;
    border: 1px solid #000;
    padding: 30px;
    border-radius: 30px;
    text-align: center;
    font-size: 2.5rem;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    background: #FFF8E0;
    z-index: 10;
}

.product-add-form .file-area input{
    display: none;
}

.product-add-form .file-area svg{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.product-add-form .input-text{
    width: 100%;
    border: 1px solid #000;
    border-radius: 50px;
    position: relative;
    top: -100px;
    z-index: 0;
    padding: 100px 50px 50px;
}

.product-add-form .input-text .input-area{
    position: relative;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.product-add-form .input-text .input-area img{
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translate(20%, -50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.product-add-form .input-text .input-area label{
    font-size: 2.5rem;
    width: 125px;
}

.product-add-form .input-text .input-area input, .product-add-form .input-text .input-area select{
    display: block;
    width: 50%;
    border: 1px solid #000;
    border-radius: 100vh;
    padding: 5px 20px;
    margin: 20px 0;
    font-size: 2rem;
    margin-left: 30px;
}

.product-add-form .input-text .input-area select{
    cursor: pointer;
}

.product-add-form .btn-area{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#product-page{
    width: 100%;
    height: 100%;
    padding: 50px 80px;
}

#product-page .product_show{
    background-color: #fff;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#product-page .img-area{
    width: 40%;
    height: 400px;
}

#product-page .img-area img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#product-page .product-text{
    font-size: 2rem;
    margin-top: 30px;
    width: 50%;
}

#product-page .product-text dl{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

#product-page .product-text dl dt{
    width: 40%;
}

#product-page .product-text dl dd{
    width: 60%;
}

#product-page .btn-area{
    margin-top: 100px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
}

#product-page .btn-area .delete-btn, #product-page .btn-area .update-btn{
    width: 100%;
    position: relative;
    display: inline-block;
    border: 1px solid #000;
    padding: 20px 40px;
    border-radius: 100vh;
    font-size: 2rem;
    margin: 30px 0;
    overflow: hidden;
    transition: all .5s;
    margin-right: 20px;
}

#product-page .btn-area .update-btn{
    margin-right: 0;
    margin-left: 20px;
}

#product-page .btn-area .delete-btn a, #product-page .btn-area .update-btn a{
    transition: all .5s;
}

#product-page .btn-area .delete-btn a .bg, #product-page .btn-area .update-btn a .bg{
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #9E912B;
    z-index: -10;
    border-radius: 100vh;
    transition: all .5s;
}

#product-page .btn-area .delete-btn a .bg{
    background-color: rgb(179, 72, 53);
}

#product-page .btn-area .delete-btn:hover{
    border: 1px solid transparent;
}

#product-page .btn-area .update-btn:hover{
    border: 1px solid transparent;
}

#product-page .btn-area .delete-btn:hover > a{
    color: #fff;
}

#product-page .btn-area .update-btn:hover > a{
    color: #fff;
}

#product-page .btn-area .delete-btn:hover > a .bg{
    left: 0;
}

#product-page .btn-area .update-btn:hover > a .bg{
    left: 0;
}
